[submodule "themes/novela-hugo"]
	path = themes/novela-hugo
	url = https://github.com/forestryio/hugo-theme-novela
[submodule "public"]
	path = public
	url = https://github.com/devmyong/devmyong.github.io.git
	branch = master
