<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFT85EHLG4"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-MFT85EHLG4');
	</script>
    </div>
</div>

